<main>
  <h1>{{cube.name}}</h1>
  <img class='cube' src='{{cube.imageUrl}}' />
  <div class='details'>
    <p><span>Description:</span>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse tempore
      similique atque sapiente suscipit quo, veniam quis optio sed temporibus?</p>
    <p><span>Difficulty level:{{cube.difficultyLevel}}</span> 3</p>
    <a class='btn' href='/'>Back</a>
  </div>
</main>